$paars: #6300A7;
$wit: #ffffff;

body {
   position   : absolute;
   width      : 1080px;
   height     : 1920px;
   margin     : 0;
   padding    : 0;
   color      : $wit;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   background : $paars;
   overflow   : hidden;

   &.berichten {
      .container {
         // display        : flex;
         // align-items    : center;
         // justify-content: center;
         // flex-direction : column;
         // background: $wit;
         h1 {
            // color     : $paars;
            text-align: center;
         }

         .berichtcontainer {
            // display: flex;
            // justify-content: center;
            // align-items    : center;
            // flex-direction : column;
            .bericht {
               // display: flex;
               // border : 10px solid $paars;
               p {
                  color: $paars;
               }

               #tekst {
                  color     : $paars;
                  max-height: none;

                  p {
                     margin   : 120px 30px;
                     font-size: 76px;
                  }
               }

               .bottom-bar {
                  justify-content: flex-end;

                  .stemmen {
                     flex: none;
                  }

                  .naam {
                     flex: none;

                     p {
                        text-align: left;
                        padding   : 27px 50px 27px 30px;
                     }
                  }
               }
            }
         }
      }

      p {
         // margin    : 180px 30px 60px;
         font-size : 56px;
         text-align: center;
      }
   }

   &.countdown {
      .container {
         background: $wit;

         h1 {
            color     : $paars;
            text-align: center;
         }

         .countdown-container {
            width     : 100%;
            text-align: center;
            padding   : 150px 0;

            .countdown-data {
               background   : $paars;
               padding      : 70px 50px;
               border-radius: 25px;
               // font-size : 160px;
            }

            ,
            .tijdcontainer {
               display     : inline-block;
               margin-right: 25px;

               p {
                  color    : $paars;
                  font-size: 50px;

                  &.countdown-data {
                     color    : $wit;
                     font-size: 160px;
                     margin   : 0;
                  }
               }
            }
         }
      }

      .input {
         color: $paars;
      }
   }

   h1 {
      font-weight: 400;
      margin     : 60px 30px;
      font-size  : 90px;

      .span {
         font-weight: 900 !important;
      }
   }

   h2 {
      font-size  : 56px;
      font-weight: 400;
   }

   .container {
      height  : 1920px;
      width   : 1080px;
      position: relative;
      margin  : 0 auto;
      overflow: hidden;

      .bericht,
      .product {
         position      : relative;
         background    : white;
         padding       : 12px 12px 12px 30px;
         border-radius : 20px;
         display       : flex;
         flex-direction: column;
         margin        : 30px;

         .afbeelding,
         .tekst {
            display        : flex;
            justify-content: center;
            margin         : 0 0 30px;
            max-height     : 350px;
         }

         .bottom-bar {
            margin-top    : auto;
            // bottom        : 12px;
            display       : flex;
            flex-direction: row;
            position      : relative;

            .stemmen {
               flex   : 1 0 0;
               display: inline-block;

               p {
                  color      : $paars;
                  font-size  : 38px;
                  padding-top: 11px;
                  margin     : 0;

                  i {
                     font-size   : 60px;
                     margin-right: 20px;
                  }
               }
            }

            .naam {
               border-bottom-right-radius: 20px;
               background                : $paars;
               flex                      : 2 0 0;
               height                    : 100px;

               &::before {
                  content     : '';
                  border-style: solid;
                  border-width: 100px 100px 0 0;
                  border-color: transparent $paars transparent transparent;
                  position    : absolute;
                  margin-left : -100px;
               }

               p {
                  font-size: 38px;
                  color    : $wit;
                  margin   : 0;
                  padding  : 27px 0;
               }
            }
         }
      }

      .chatberichten {
         position  : absolute;
         height    : 80px;
         left      : 0;
         bottom    : 0;
         width     : 100%;
         border-top: 10px solid darken($paars, 10%);
         background: $wit;
         overflow  : hidden;

         .berichten-inner {
            padding: 0 30px;

            p {
               color       : $paars;
               font-size   : 28px;
               display     : inline-block;
               margin-right: 40px;
               margin-left : 40px;

               &::before {
                  content          : '';
                  background-image : url("../img/gh-logo.png");
                  width            : 37px;
                  height           : 53px;
                  position         : absolute;
                  background-repeat: no-repeat;
                  background-size  : 80%;
                  margin-left      : -50px;
                  top              : 18px;
               }
            }
         }
      }

      .input {
         text-align: center;

         h2,
         img {
            display: inline-block;
         }
      }
   }
}